*{
    font-family: ABeeZee, 'Source Sans Pro'
}
/* Header */
header {
    background-color: #007BFF;
    color: #fff;
    margin-top: 5.5vh;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

/* Navbar */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #007BFF;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007BFF;
}

.main1{
    height: 100vh;
    width: 100vw;
}

.vl {
    border-left: 2px solid gray;
    height: 4vh;
}

.login {
    border: 2px solid #007be5;
    color: #007be5;
}

.login:hover{
    color: #fff;
    background-color: #007BFF;
}

.row {
    flex-direction: row;
}

.pak {
    font-size: 20px;
    font-weight: bold
}

.para {
    font-size: 16px;
}

.apply{
    background: linear-gradient(to right, #357aed, #9332ed) !important;
    color: #fff;
    font-weight: bold;
}

.apply:hover{
    background: linear-gradient(to right, #9332ed, #357aed) !important;
    transition: .5s ease all;
    color: #fff;
}

.apply2{
    background:#ecf8ff!important ;
    padding-bottom: 10vh;
}
.head{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}

.headi{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.plx{
    background-color: #e0f3ff;
    padding: 5px;
    font-weight: 400;
}

.plx1{
    background-color: #ffeed8;
    padding: 5px;
    font-weight: 400;
}

.border-bottom{
    height: 50px;
}
.card1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2{
    display:flex;
    align-items:center;
    justify-content:center;
    border-color: #007BFF;
}

.card3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    gap: 30px;
}

.tex:hover{
    color: #fff;
    background-color: #ecf8ff;
}

.btn1{
    border-color: #007BFF;
    color: #007BFF;
}
.gap{
    gap:20px
}
.colu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17%;
}

.apply3{
    padding-bottom: 10vh;
}

.headin{
    color: #007be5;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
  }

  .placement{
    margin-left: 40%;
    margin-right: 40%;
  }

  .rounded-pill{
    border-radius: 8px;
    border: none;
    background: #fff;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.21) !important;
  }

  .card5{
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.21) !important;
  }

  #frem {
    padding: 50px;
}

.text {
    color: #676767;
}

.pading {
    padding: 24px;
}
#icon {
    border-radius: 50%;
}

.card10 {
    width: 27rem;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}

.box3{
    border-radius: 8px;
    border: none;
    background: #fff;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.18) !important;
}

.tex:hover{
    color: #fff;
    background-color: #0c66ea;
}

@media screen and (max-width: 767.98px) {
    .apply1 {
        padding:  0%!important ;
        margin : auto;
    }
}